# Travis CI Configuration File

# Tell Travis CI we're using PHP
language: php

# Build matrix options
matrix:
  include:
    - php: 5.5
    - php: 5.2
    - php: 5.3
    - php: 5.4
    - php: 5.5
    - php: 5.6
    - php: hhvm
  allow_failures:
    - php: 5.6
    - php: hhvm
  fast_finish: true


before_script:
  - composer self-update
  - composer install --prefer-source --no-interaction --dev
